@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgb(21, 59, 74);
  color-scheme: light dark;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 
body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}
.awssld{
  height: 250px;
  width: 1000px;
}
